body {
    background-image: url("images/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#score {
    font-size: 32px;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
} 

#start_div {
    text-align: center;
}

#start {
    font-size: 32px;
    margin: 50px;
    font-family: 'Dancing Script', cursive;
    color: white;
    background: none;
    border: none;
    padding: 0;
}

#start span:after {
    content: url("images/music_note.png");
    position: absolute;
    opacity: 0;
    transform: translateX(8px);
    transition: all 0.25s;
}

#start:hover span:after {
    opacity: 1;
}

#keyboard_div {
    position: relative;
    font-size: 0;  /* get rid of whitespace between keys */
    text-align: center;
}

.keyboard {
    position: relative;
    height: 100px;
    width: 40px;
    box-shadow: 0 1px #999;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.keyboard:active {
    transform: translateY(1px);
    box-shadow: 0 -1px #999;
}

#c5, #d5, #e5 {
    background-color: white;
    z-index: 1;
}

#c-5, #d-5 {
    position: absolute;
    background-color: black;
    border: none;
    height: 60px;
    width: 20px;
    z-index: 2;
    transform: translateX(-10px);
}

#music-sheet-div {
    visibility: hidden;
    transition: all 0.5s;
}