#difficulty_div {
    text-align: center;
}

.difficulty {
    font-size: 32px;
}

#score {
    font-size: 32px;
    text-align: center;
} 

#keyboard_div {
    font-size: 0; /* get rid of whitespace between keys */
    text-align: center;
}

.keyboard {
    /* padding: 0; */
    margin: 0;
    height: 20px;
    background-color: black;
}